<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab<br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

## Table of Content

1. **[Set](#set)**
2. **[Conditional Statements](#cond)**
3. **[Python Flow Control](#flow_control)**

### Let's begin with some hands-on practice exercises

<a id="set"> </a>
## 1. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

In [5]:
num_set = {1, 2, 3, 4, 5, 6}

num_set.add(7)

num_set

{1, 2, 3, 4, 5, 6, 7}

In [6]:
num_set.remove(3)

num_set

{1, 2, 4, 5, 6, 7}

In [8]:
num_set.clear()

num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

In [1]:
sentence_1 = 'We shall analyse the data using python'
s1 = set(sentence_1.split())
s1

{'We', 'analyse', 'data', 'python', 'shall', 'the', 'using'}

In [11]:
sentence_2 = 'Python for data science'
s2 = set(sentence_2.split())
s2

{'Python', 'data', 'for', 'science'}

In [13]:
#Find the count of unique words in each of the sentence

print(len(s1))
print(len(s2))

7
4

In [16]:
#Find the common words in both the sentences

print(s1.intersection(s2))

{'data'}

In [24]:
#Find the unique words in both the sentences

s1.symmetric_difference(s2)

{'Python',
 'We',
 'analyse',
 'for',
 'python',
 'science',
 'shall',
 'the',
 'using'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [18]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [19]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

In [20]:
A.intersection(B)

{3, 5, 6, 7}

In [21]:
A.difference(B)

{1, 2, 4, 40, 71, 87}

In [22]:
B.difference(A)

{8, 42, 51, 54}

In [23]:
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="cond"> </a>
## 2. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
num = int(input('Enter a number: '))

if num%7 == 0:
    print(num, 'is multiple of 7')
else:
    print(num, 'is not a multiple of 7')

Enter a number: 23
23 is not a multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
a = float(input('Enter 1st number: '))
b = float(input('Enter 2nd number: '))

if a > b:
    print(a,'max than',b)
elif a < b:
    print(b,'max than',a)
else:
    print('not a valid comparison')

Enter 1st number: 7
Enter 2nd number: 2
7.0 max than 2.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
num = float(input('Enter a number: '))

if num>0:
    print(num,'is Positive number')
elif num<0:
    print(num,'is Negative number')
else:
    print(num,'is equal to Zero')

Enter a number: 89
89.0 is Positive number

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
a = 0
b = 1
i = 0
while i < 10:
    print(a, end=" ")
    a, b = b, a + b
    i += 1

0 1 1 2 3 5 8 13 21 34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
x = int(input('Enter a number: '))
fact = 1
for i in range(1,x+1):
    fact*=i
print('Factorial of a number: ',fact)

Enter a number: 6
Factorial of a number:  720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
## Find the factors of 220 (including 1 and excluding 220)
num1 = 220
for i in range(1,num1):
    if num1%i==0:
        print(i,end=' ')

1 2 4 5 10 11 20 22 44 55 110

In [15]:
num1 = 220
sum1 = 0
for i in range(1,num1):
    if num1%i==0:
        sum1 += i
print(sum1)

284

In [21]:
num1 = 220
sum1 = 0
for i in range(1,num1):
    if num1%i==0:
        sum1 += i


        
num2 = 284
sum2 = 0
for i in range(1,num2):
    if num2%i==0:
        sum2 += i

In [22]:
sum1

284

In [23]:
sum2

220

In [24]:
num1 = 220
sum1 = 0
for i in range(1,num1):
    if num1%i==0:
        sum1 += i


        
num2 = 284
sum2 = 0
for i in range(1,num2):
    if num2%i==0:
        sum2 += i
        

if num1==sum2 and num2==sum1:
    print('Amicable')
else:
    print('Not Amicable')

Amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
a = input('Enter a string: ')
b = str()

for i in a:
    b = i + b
print(b)

Enter a string: harsh bhalla
allahb hsrah

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [26]:
n = int(input('Enter values: '))
add = 0
for i in range(n):
    num = int(input('Enter a number: '))
    add += num
print('Avg: ',add/n)

Enter values: 5
Enter a number: 8
Enter a number: 6
Enter a number: 7
Enter a number: 5
Enter a number: 3
Avg:  5.8