## List Comprehension

What is a list comprehension?
● A list comprehension provides a concise way to create another list
● Using list comprehensions reduces the number of code lines making it. It look more elegant
● It is possible to use conditions in a list comprehension
● The list comprehension always returns a list

In [1]:
li = [2,3,4,5]  #[4,9,16,25]
l = []
for i in li:
    l.append(i**2)
l

[4, 9, 16, 25]

In [2]:
[i**2 for i in li]

[4, 9, 16, 25]

In [6]:
# [7,8,9,10]

l = [i+5 for i in li]
l

[7, 8, 9, 10]

In [7]:
[i%2 for i in l]

[1, 0, 1, 0]

In [ ]:
# Syntax 1:   [value for value in iterable]                
# Syntax 2:   [value for value in iterable if condition]   {used to filter the list}   
# Syntax 3:   [val1 if cond else val2 for i in iterable]   {used to map the values over iterable}

In [3]:
[i for i in range(10,16)]  # Eg Syntax 1

[10, 11, 12, 13, 14, 15]

In [4]:
[i**2 for i in range(5)]   # Eg Syntax 1

[0, 1, 4, 9, 16]

In [8]:
[i+2 for i in [23,43,56,12,88]] # Eg syntax 1

[25, 45, 58, 14, 90]

In [13]:
# Create a list with multiple of 3 from 1 to 25

li = []
for i in range(1,26):
    if i%3==0:       #filter
        li.append(i)
li

[3, 6, 9, 12, 15, 18, 21, 24]

In [10]:
[i for i in range(1,26) if i%3==0]

[3, 6, 9, 12, 15, 18, 21, 24]

In [11]:
[i for i in range(1,21) if i%3==0] # Eg syntax 2

[3, 6, 9, 12, 15, 18]

In [12]:
[i+2 for i in [23,43,56,12,88] if i%2==0] # Eg syntax 2

[58, 14, 90]

In [21]:
# filter
li = [23,46,32,45,66]
l = []
for i in li:
    if i%2==0:
        l.append(i)
l

[46, 32, 66]

In [23]:
[i for i in li if i%2==0]

[46, 32, 66]

In [22]:
# Map

li = [23,46,32,45,66]
l = []
for i in li:
    if i%2==0:
        l.append('Even')
    else:
        l.append('Odd')
l

['Odd', 'Even', 'Even', 'Odd', 'Even']

In [26]:
['Even' if i%2==0 else 'Odd' for i in li]

['Odd', 'Even', 'Even', 'Odd', 'Even']

In [24]:
[i+2 if i%2==0 else i for i in [23,43,56,12,88]] # Eg syntax 3

[23, 43, 58, 14, 90]

In [25]:
['Odd' if i%2==1 else 'Even' for i in [3,6,9,12,18,21,24,27,30]]  # Eg syntax 3

['Odd', 'Even', 'Odd', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Even']

Q. Print a list between 1 to 50 where all the values are multiple of 3 and 5 both

In [14]:
[i for i in range(1,51) if i%3==0 and i%5==0]

[15, 30, 45]

Q. li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear'] create a list of all the fruits which have 'a' in name

In [16]:
li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

In [17]:
[i for i in li if 'a'in i]

['Mango', 'Banana', 'Papaya', 'Pear']

Q. Create a new list with the no of characters in each fruit name

In [18]:
[len(i) for i in li ]

[5, 4, 5, 6, 6, 4]

Q. Print the cube of first 10 numbers

In [19]:
[i**3 for i in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Q. strings = ['baby','muscle','dalmations101','hulk3','titanic']  create a list with value 'alphabet' if movie name has only alphabets and 'alphanumber' if movie name has alphabets and number

In [20]:
strings = ['baby','muscle','dalmations101','hulk3','titanic']

In [27]:
['alphabet' if i.isalpha() else 'alphanumber' for i in strings]

['alphabet', 'alphabet', 'alphanumber', 'alphanumber', 'alphabet']

Q. [-2,9,3,0,7,-4,0,5], create a list with values neg if number is negative pos if number is positive else zero.

In [28]:
['neg' if i<0 else 'pos' for i in [-2,9,3,0,7,-4,0,5]]

['neg', 'pos', 'pos', 'pos', 'pos', 'neg', 'pos', 'pos']

In [29]:
['neg' if i<0 else 'pos' if i>0 else 'zero' for i in [-2,9,3,0,7,-4,0,5]]

['neg', 'pos', 'pos', 'zero', 'pos', 'neg', 'zero', 'pos']

In [30]:
ph = [3.5,8.9,1.2,7,6.3,11,7]      # map acidic basic and neutral

In [31]:
['acidic' if i<7 else 'basic' if i>7 else 'neutral' for i in ph]

['acidic', 'basic', 'acidic', 'neutral', 'acidic', 'basic', 'neutral']

Q. name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]
create a dictionary with two lists using dictionary comprehension

In [32]:
name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]

In [34]:
d = {}
for k,v in zip(name,marks):
    d[k] = v
d

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

In [33]:
{k:v for k,v in zip(name,marks)}

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

Q. create a dictionary where key is a fruit name and value is the length of the fruit name
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

In [37]:
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

{k:len(k) for k in fruit}

{'Apple': 5, 'Kiwi': 4, 'Mango': 5, 'Banana': 6, 'Papaya': 6, 'Pear': 4}

Q. Create above dictionary of those fruits only which ends with 'a'

In [38]:
{k:len(k) for k in fruit if k.endswith('a')}

{'Banana': 6, 'Papaya': 6}

Q. create a dictionary where key is a fruit name and value is odd if length of the fruit name is odd else even

In [41]:
{k:'Even'if len(k)%2==0 else 'Odd' for k in fruit}

{'Apple': 'Odd',
 'Kiwi': 'Even',
 'Mango': 'Odd',
 'Banana': 'Even',
 'Papaya': 'Even',
 'Pear': 'Even'}

Q. [[1,2,3],[1,2,3],[1,2,3]]

In [42]:
[[i for i in range(1,4)] for j in range(3)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [43]:
[[1,2,3]]*3

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]